@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Montserrat:wght@300;400&family=Poppins&display=swap');

body{
    top: 0;
    margin: 0;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth; 
}

*{
    top: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
}

header{
    position: fixed;
    height: fit-content;
    color: black;
    width: 100%;
    padding: 20px 10px;
    transition: 0.3s;
    background-color: white;
}

.sticky{
    padding: 20px 10px;
    background-color: black;
    color: white;
    z-index: 1000;
}

nav{
    display: flex;
    justify-content: space-between;
    
}

.hamberger{
    display: flex;
    justify-content: space-between;
    
}


#check{
    display: none;
}

.checkbtn i{
    color: black;
    display: none;
}


nav h1{
    font-family: 'Bungee Spice', sans-serif;
    font-size: clamp(12px, 2vw, 100px);
}

nav > ul{
    display: flex !important;
    align-items: center;
    font-weight: 600;
    padding: none;
}

nav ul li{
    text-decoration: none;
    list-style: none;
    padding-left: 10px;
    transition: .5s;
    cursor: pointer;
    
}

ul a{
    color: black;
    font-size: clamp(10px, 1.3vw, 200px);
}

.sticky ul a{
    color: white;
}

li::after{
    display: block;
    width: 0%;
    margin: auto;
    height: 3px;
    content: '';
    transition: width 0.3s ease, background-color 0.3s ease;
}

li:hover:after{
    width: 100%;
    background-color: white;
}

.container{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.425) url(image/img-6.jpeg);
    background-blend-mode: darken;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container h1{
    font-size: clamp(35px, 9vw, 100px);
    font-family: 'Satisfy', cursive;
    color: yellow;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

.container button{
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background-color: red;
    color: white;
    cursor: pointer;
 
}

.container button:hover{
    background-color: rgba(167, 8, 8, 0.986);
}

.main-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 30px;
    height: 100vh;
    background: rgba(234, 238, 8, 0.411);
    position: relative;
}

.main-con::before{
    content: '';
    width: 20%;
    height: 40vh;
    background-color: orangered;
    position: absolute;
    z-index: -100;
    left: -140px;
    border-radius: 80%;
    top: 40px;
}

.main-con > h1{
    font-size: clamp(35px, 7vw, 100px);
    padding-bottom: 20px;
    position: relative;
}

.main-con > h1::before{
    font-size: clamp(35px, 7vw, 100px);
    content: 'About';
    position: absolute;
    color: rgba(0, 0, 0, 0.534);
    z-index: -100;
    padding: 5px;
}

.text{
    columns: 200px 2;
    column-gap: 50px;
}

.text > p{
    text-align: justify;
    font-size: clamp(10px, 1.4vw, 100px);
    padding-bottom: 20px;
}

.text > p button{
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background-color: red;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}

.text > p button:hover{
    background-color: rgba(167, 8, 8, 0.986);
}

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-2 20:33:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }

/* product section */

.Product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 30px 30px;
    height: auto;
    background: rgb(255, 255, 255);
    position: relative;
}



.Product > h1{
    font-size: clamp(35px, 7vw, 100px);
    padding-top: 50px;
    position: relative;
    text-align: center;
}

.Product > h1::before{
    font-size: clamp(35px, 7vw, 100px);
    content: 'Product';
    position: absolute;
    color: rgba(0, 0, 0, 0.534);
    padding: 5px;
}

.cont-1 > h2{
    background-color: black;
    display: inline-block;
    color: white;
    padding: 10px 10px;
    font-size: clamp(15px, 3vw, 100px);
    margin: 30px 0px;
}

.product-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 30px;
    padding-top: 20px;
}

.some-product{
    background-color: white;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.some-product > img{
    max-width: 100%;
    height: 35vh;
    padding: 40px 0px;
}

.price-product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
}

.some-product button{
    padding: 10px 20px;
    outline: none;
    border: 2px solid red;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: red;
    margin-top: 40px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.some-product button:hover{
    background-color: white;
    border: 2px solid red;
    color: red;
    font-weight: 700;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
}


.items span{
    margin-bottom: 8px;
}

.kids h4{
    margin-bottom: 8px;
}

.like{
    padding-left: 20vh;
}

i{
    color: #e2ba1b;
}

.product-botton{
    padding: 5px 20px;
    outline: none;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background-color: #e2ba1b;
    border: 2px solid black;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    float: right;
    margin-top: 30px;
}

.product-botton:hover{
    border: 2px solid #a38714;
    background-color: white;
    color: #a38714;
}

@media (max-width: 480px){
    .like span{
        white-space: nowrap;
    }

    .kids h4{
        white-space: nowrap;
    }

    
}

@media (max-width: 768px){
    form input,
    form textarea{
      width: 100% !important;
}

    header{
        width: 100%;
        height: 6vh;
    }
    nav{
        display: inline-block;
        width: 100%;
        margin-top: -12px;
    }

    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-left: -115%;
        padding: 30px 0;
        width: 110%;
        background-color: black;
        height: 50vh;
        transition: .3s ease;
        margin-top: 13px;
    }

    nav ul a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        color: white !important;
    }

    ul a{
        color: black;
        font-size: clamp(15px, 1.3vw, 200px);
    }

    .checkbtn i{
        color: black;
        display: block;
        margin-top: 5px;
    }

    #check:checked ~ ul{
        margin-left: -5%;
    }

    #check:checked~#toggleButton>i::before {
        content: "✖";
        font-weight: bolder;
        font-size: 15px;
        
    }

    #toggleButton{
        float: right;
    }

    .hamberger{
        display: inherit;
    }

    .sticky i{
        color: white;
    }

    .sticky a li{
        color: white;
    }

    
    
}

/* contact section  */

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 30px 30px;
    height: auto;
    background: rgba(234, 238, 8, 0.411);
    position: relative;
}



.contact > h1{
    font-size: clamp(35px, 7vw, 100px);
    padding-top: 50px;
    position: relative;
    text-align: center;
}

.contact > h1::before{
    font-size: clamp(35px, 7vw, 100px);
    content: 'Contact';
    position: absolute;
    color: rgba(0, 0, 0, 0.534);
    padding: 5px;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

form h2{
    font-size: clamp(20px, 2vw, 100px);
    margin: 20px 0px;
}

form label{
    font-size: clamp(13px, 1.3vw, 100px);
    font-weight: 700;
}


form input,
form textarea
{
    width: 50%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5px;
    padding: 12px 5px;
    border: 2px solid black;
    background: #f6f899;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.button-form{
    background-color: black;
    color: #f6f899;
    cursor: pointer;
    font-weight: 900;
}

.button-form:hover{
    background-color: #f6f899;
    color: black;
    border: 2px solid black;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 30px 30px;
    height: auto;
    background: black;
    align-items: center;
    font-size: clamp(13px, 1.3vw, 100px);
    color: white;
    position: relative;
}











